@use "@styles/base" as *;


.winner {
  transform: translateY(-5%);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  opacity: 0.4;
  @include options((
    width: (279px, 245px)
  ));
  @include NOT-DESKTOP{
    opacity: 0.2;
  };
  &__button{
    visibility: hidden;
    width: 100%;
    
    @include options((
      margin-top: (41px, 47px),
      margin-left: (0px, -35px)
    ));
  }
  &__name{
    @extend %BIG-DEFAULT;
    text-align: center;
    @include options((
      margin-top: (15px, 15px)
    ))
  };
  &__prize{
    text-align: center;
    display: flex;
    align-items: center ;
    @include options((
      gap: (10px, 10px),
      margin-top: (7px, 7px),
      margin-left: (-25px, -25px)
    ));
    @include option (gap, 5px, 5px);
    span{
      @extend %RED-HIGHLIGHT
    }
  };
  &__icon{
    img{
      width: 100%;
      height: 100%;
    }
    @include options((
      height: (25px, 21px),
      width: (31px, 27px)
    ))
  }
  &__portrait{
    position: relative;
    display: flex;
    align-items: center;
    @include options((
      border-radius: (34px, 34px), 
      width: (280px, 245px),
      height: (280px, 245px),
    ))
  }
  &__caption{
    @extend %WHITE_CAPTION;
  }
  &__pause{
    @include options((
      width: (91px, 80px)
    ))
  }
  &__watch{
    @include option(border-radius, 34px, 34px);
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.306);
    &:hover{
      opacity: 1;
    };
    visibility: hidden;
  }
  &__image{
    @include options((
      width: (279px, 245px),
      height: (279px, 245px),
    ));
    img{
      width: 100%;
      height: 100%;
    }
  }

  &_isActive{
    position: relative;
    transform: translateY(0);

    opacity: 1;
    .winner__button{
      visibility: visible
    };
    .winner__watch{
      visibility: visible
    }
  };

  @mixin mod($mod) {
    @include modifier("card", $mod) {
      @content;
    }
  }
  @mixin mods($mods...) {
    @each $mod in $mods {
      .card_#{$mod} & {
        @content;
      }
    }
  }
}


