.platformer {
  @mixin mod($mod) {
    @include modifier("platformer", $mod) {
      @content;
    }
  }
  @mixin mods($mods...) {
    @each $mod in $mods {
      .platformer_#{$mod} & {
        @content;
      }
    }
  }

  width: 100%;
  height: 100%;

  &__wrapper {
    height: 100%;
    width: 100%;
  }
}
