@font-face {
  font-family:'Montserrat';
  src: url('./Montserrat.ttf');
}

@font-face {
  font-family:'Roboto';
  src: url('./Roboto.ttf');
}

@font-face {
  font-family:'SFUI';
  src: url('./SFUI.ttf');
}

