@use "@styles/base" as *;
.paper {
  @mixin mod($mod) {
    @include modifier("paper", $mod) {
      @content;
    }
  }
  @mixin mods($mods...) {
    @each $mod in $mods {
      .paper_#{$mod} & {
        @content;
      }
    }
  }

  width: 100%;
  height: 100%;

  &__canvas {
    height: 100%;
    width: 100%;
    opacity: 0.25;

    @include MOBILE {
      display: none;
    }
  }
}
