/* Layout */
@use "@styles/base" as *;

.mainContainer {
  @extend %DEFAULT;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow: hidden;
  &_overflow {
    height: 100vh;
  }
}

.contentWrapper {
  flex-grow: 1;
  overflow: hidden;
  min-height: var(--app-height, 100vh);
  margin: auto;
  padding: 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @include is-burger {
    min-height: var(--app-height, 100svh);
  }
}

.scrollDisabler {
  overflow: hidden;
}
